.details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  padding: 60px;
  height: 100%;
  width: 75%;
  background-color: #fafafa;
  overflow-y: scroll;
}

.details .button {
  align-items: flex-start;
}

.details h1 {
  text-align: center;
}

.details h2 {
  font-weight: bold;
}

.details img {
  margin: 0 auto;
}
