.details {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  padding: 60px;
  height: 100%;
  width: 75%;
  background-color: #fafafa;
  overflow-y: scroll;

  .button {
    align-items: flex-start;
  }

  h1 {
    text-align: center;
  }

  h2 {
    font-weight: bold;
  }

  img {
    margin: 0 auto;
  }
}
