.cards {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 25%;
  padding: 60px;
  height: 100%;
  width: 75%;
  background-color: #fafafa;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  overflow-y: scroll;

  .card {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 15px auto;
    border: 1px solid #ededed;

    .card-info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: #fafafa;
      padding: 15px;

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;

        li {
          img {
            height: 45px;
          }
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .cards {
    width: 100%;
    position: static;
  }
}
