* {
  box-sizing: border-box;
}

html,
body {
  max-width: 100%;
  overflow-x: none;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
}

ul li {
  padding: 0.5rem 0;
}

main {
  display: grid;
  padding: 2rem 4rem;
  grid-template-columns: 70% 30%;
  grid-template-areas: 'exp contact';
  margin-bottom: 4rem;
}

.name {
  display: flex;
  justify-content: center;
}

.contact {
  display: flex;
  flex-direction: column;
  grid-area: contact;
  padding-left: 2rem;
}

.experience {
  grid-area: exp;
}

.experience h3 {
  padding-left: 1rem;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  padding: 1rem;
  background-color: #fff;
}

footer span {
  display: flex;
  justify-content: center;
}

@media print {
  a {
    color: #333;
    text-decoration: none;
  }

  footer {
    display: none;
  }
}
