.sidebar {
  height: 100%;
  padding: 30px;
  border-right: 1px solid #efefef;
  background-color: #fff;

  .logo {
    border-radius: 10px;
    background-color: #333;
    color: #fff;
    font-weight: bold;
    font-size: 180px;
    text-align: center;
    line-height: 300px;
  }

  .name {
    font-size: 1.5rem;
  }

  .resumes {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .contact {
    margin: 30px 0;

    &-links {
      display: flex;
      justify-content: space-around;
      align-items: center;
      flex-wrap: wrap;

      img {
        height: 40px;
      }
    }
  }
}

@media (min-width: 1024px) {
  .sidebar {
    width: 25%;
  }
}
